*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    min-height: 90vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(./hero-bcg.jpeg) center/cover no-repeat;

}

/*---------navbar------*/
.navbar {
    display: flex;
    
    flex-direction: row-reverse;
    height: 12vh;
    
  }
a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    text-decoration: none;
    font-size: large;
    padding: 8px;
    
  }
  #signIn{
      background-color:rgba(181, 221, 226, 0.808);
      color:white;
  }
  /*------start part------*/
  .start{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25vh;
  }
  .start h2{
      color: white;
      padding: 3px 15px 3px 15px;
      border: 2px solid white;
}
  /*-------Landing page part--*/
  .landingPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    color: white;
     
  }
  /*----<!--subscribe part--*/
  .subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 10vh;
  }
